*,
*::before,
*::after {
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
header, main, footer{
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    height: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.header {
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.92), rgba(0, 0, 0, 0.88)),
   url("../bg-image4.jpg");
  height: 50%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav-menu-container{
    width: 100%;
    background-color: #383839;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
} 
.logo{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    display: inline-block;
}
  
.logo,
.logo:hover {
    color: #e8914a;
    padding-left: 10px;
    border-left: 4px solid #e8914a;
}
.menu-icon{
    display: none;
    color: whitesmoke;
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 1rem;
}
.icon{
    color: whitesmoke;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
.login-button{
    color: white;
    background-color: #e8914a;
    border: 1px solid #e8914a;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.login-button:hover{
    color: #e8914a;
    background-color: transparent;
}
.sidenav .login-button{
  margin-top: auto;
}
.header-button{
    color: #e8914a;
    background-color: transparent;
    border: 1px solid #e8914a;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.header-button:hover{
    color: whitesmoke;
    background-color: #e8914a;
}
.nav-item{
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 800;
    font-size: 1rem;
    margin: 0px 15px 0px 15px;
    padding-top: 25px;
    line-height: 0.5;
    display: inline-block;
}
.nav-item:hover{
    color: #e8914a;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    width: 100%;
}
.section{
    margin-top: 10rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.cart-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
footer{
    background-color: rgba(50, 50, 50, 0.92);
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem;
    color: whitesmoke;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5rem;
}
.about-footer{
    word-wrap: normal;
}
.footer-menu{
    text-align: center;
}
.footer-menu h3{
    color: #e8914a;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.footer-nav-menu{
    display: flex;
    flex-direction: column;
}
.footer-categories{
    text-align: center;
}
.footer-categories h3{
    color: #e8914a;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
input{
      width: 50%;
      padding: 15px 22px;
      margin: 10px 5px;
      box-sizing: border-box;
      border: 1px solid, white;
      border-radius: 5px;
      background-color: transparent;
      color: whitesmoke;
}
input:focus{
    outline: none;
}
.footer-subscribe{
    text-align: center;
    margin-bottom: 50px;
}
.sidenav {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  border: 1px solid rgb(109, 105, 105);
  border-left: transparent;
  border-right: transparent;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover .nav-text{
  color: #f1f1f1;
  padding-left: 0.5rem;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
}
.sidenav h1{
  margin-bottom: 1rem;
}
.nav-icon{
  color: #f1f1f1;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.sidenav-cat{
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: whitesmoke;
}
/* Cart section */
.cart-card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 90%;
}
.cart-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: rgb(88, 88, 88);
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
  }
  .cart-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  .table-header{
      color: darkslategray;
  }
  .table-content{
      color: darkslategray;
      margin-top: 1.5rem;
  }
  .decrement, .increment{
      background-color: #56a799;
      border: 1px solid #56a799;
      color: whitesmoke;
      font-size: 1.2rem;
      padding: 0.2rem;
  }
  .decrement{
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  }
  .quantity-value{
      padding: 0.2rem;
      font-size: 1.2rem;
  }
  .multiplier{
    margin: 0px 5px 0px 5px;
  }
  .total-price, .currency, .overall-price{
    display: inline-block;
  }
  #itemName{
    margin-left: 1rem;
  }
  li{
    list-style: none;
  }
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media (max-width: 990px){
  .logo, .menu-icon{
    font-size: 1.5rem;
  }
  .nav-menu-container{
    padding: 0.6rem;
  }
  .icon{
    padding: 0;
  }
  .menu-icon{
    display: inline-block;
  }
  .sidenav{
    display: block;
  }
    .header .nav-item{
        display: none;
    }
    .row{
      flex-direction: row;
    }
    .col-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
      .col-4{
          -ms-flex: 0 0 49%;
          flex: 0 0 49%;
          max-width: 49%;
      }
      footer{
        padding: 2rem;
      }
      .login-button, .header-button{
        font-size: 1rem;
        font-weight: 600;
      }
}  
@media (max-width: 570px){
  .row{
    flex-direction: column;
  }
  .cart-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  .col-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-4{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .flex-center{
    padding: 0.5rem;
    text-align: center;
  }
    .hrt, .login-button{
        display: none;
    }
    footer{
      padding: 2rem;
    }
    .footer-categories h3, .footer-menu h3{
      margin-bottom: 5px;
      margin-top: 20px;
    }
    .footer-menu, .footer-categories{
      text-align: left;
    }
    input{
      width: 80%;
    }
    .footer-nav-menu .nav-item{
      margin: 0;
    }
}
