* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Open Sans', 'sans-serif';
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.92), rgba(0, 0, 0, 0.88)),
   url("/public/bg-image4.jpg");
    height: 100vh; 
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
  /* border: 1px solid yellow; */
  padding: 1em 1em;
  
}

#output {
  /* border: 1px solid black; */
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.fail {
  
}

.fail p {
  margin: 0 2.5em;
  padding: .5em 1em;
  color: white;
  border-radius: 5px;
  font-size: 90%;
  background: #D03B29;
}

.success {
  
}

.success p {
  margin: 0 2.5em;
  padding: .5em 1em;
  color: white;
  border-radius: 5px;
  font-size: 90%;
  background: #00C2A8;
}

form {
  border-top: 4px solid #e8914a;
  background: white;
  border-radius: 7px;
}

.form-head {
  color: #333;
  text-align: center;
  font-size: 160%;
  margin: 1em;
}

.labels {
  /* border: 1px solid black; */
  display: block;
  margin: 1.5em 1em;
}

.labels label {
  font-weight: 600;
}

.labels input[type='text'],
.labels input[type='number'],
.labels input[type='file'],
select {
  width: 100%;
  border: 2px solid #e8914a;
  font-size: 90%;
  padding: .4em;
  margin-top: .4em;
  border-radius: 3px;
}

select {
  width: 50%;
}


option {
  background: #e8914a;
  color: white;
}

.btn-div {
  width: 90%;
  margin: 0 auto;
}

.btn {
  width: 100%;
  background: #e8914a;
  color: white;
  margin-top: .5em;
  margin-bottom: 1.4em;
  padding: .8em;
  border: 1px solid transparent;
  border-radius: 3px;
}

.btn:hover {
  background: rgb(211, 108, 11);
}



/* MEDIA QUERIES */

@media(min-width: 500px) {
  .container {
    padding: 2em 2em;
  }
  
}


@media(min-width:760px) {
  .container {
    /* padding: 4em 4em; */
    max-width: 750px;
    margin: auto ;
  }
  
  .labels {
    /* border: 1px solid black; */
    display: block;
    margin: 1.7em 1em;
  }
}


@media(min-width:320px) and (max-width: 359px) {
  .form-head {
    color: #333;
    text-align: center;
    font-size: 140%;
    margin: 1em;
  }
  
  .labels {
    display: block;
    margin: 1.4em 1em;
    font-size: 92%;
  }
}










































































